.root{
    -fx-font-family: "Courier New";
}

.painelCentro{
    -fx-background-radius: 140 0 0 140;
	-fx-background-color:#ffffff;
  
}

.campoTexto{

    -fx-border-color: #000000; 
    -fx-border-width: 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;

}

.text{

    -fx-font-family: "Garamond";

}

.button{
    -fx-font: 16px "Serif";
    -fx-padding: 10;
    -fx-background-color: #CCFF99;
    -fx-background-radius: 50px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);

}

.button:hover{
    -fx-font: 16px "Serif";
    -fx-padding: 10;
    -fx-background-color: #ff9999;
  

}