.painelCentro{
    -fx-background-radius: 140 0 0 140;
	-fx-background-color:#ffffff;
    -fx-font-family: Garamond;
}

.campoTexto{

    -fx-border-color: #000000; 
    -fx-border-width: 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;

}

.text{

    -fx-font-family: "Garamond";

}